apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-agent-conf
  labels:
    app: opentelemetry
    component: otel-agent-conf
data:
  otel-agent-config: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    exporters:
      datadog:
        api:
          key: <REPLACE_ME>
    processors:
      resourcedetection:
        detectors: [system, env]
        timeout: 5s
        override: false
      k8sattributes:
        pod_association:
          - from: resource_attribute
            name: k8s.pod.uid
        filter:
          node_from_env_var: KUBE_NODE_NAME
      batch:
        timeout: 10s
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [resourcedetection, k8sattributes, batch]
          exporters: [datadog]
