apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  labels:
    app: opentelemetry
    component: otel-collector
spec:
  selector:
    matchLabels:
      app: opentelemetry
      component: otel-collector
  minReadySeconds: 5
  progressDeadlineSeconds: 120
  replicas: 1
  template:
    metadata:
      labels:
        app: opentelemetry
        component: otel-collector
    spec:
      serviceAccountName: otel-collector-account
      containers:
      - name: gen
        image: golang:1.18
        command: [ "/otlpgen/k8s/bin/otlpgen" ]
        volumeMounts:
        - name: otlpgen
          mountPath: /otlpgen

      - name: collector
        command:
          - "/otelcol-contrib"
          - "--config=/conf/otel-agent-config.yaml"
        image: otel/opentelemetry-collector-contrib:0.54.0
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 200m
            memory: 400Mi
        env:
        - name: POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        # The k8s.pod.uid is used to associate pods for k8sattributes
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: "k8s.pod.uid=$(POD_UID)"
        # KUBE_NODE_NAME helps k8sattributes filter exclusively by this node,
        # for this node.
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        ports:
        - containerPort: 4317 # Default endpoint for OpenTelemetry receiver.
        - containerPort: 8888  # Default endpoint for querying metrics.
        volumeMounts:
        - name: otel-agent-config-vol
          mountPath: /conf
      volumes:
      - name: otlpgen
        hostPath:
          path: /otlpgen
      - name: otel-agent-config-vol
        configMap:
          name: otel-agent-conf
          items:
            - key: otel-agent-config
              path: otel-agent-config.yaml
